@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

@layer base {
  body {
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.section {
  padding: 2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 2rem;
  background-color: rgba(8, 18, 41, 0.85); /* Deep blue, semi-transparent */
  transition: background-color 0.3s ease;
}

.section:hover {
  background-color: rgba(2, 11, 22, 1); /* Darker black-blue on hover */
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.group-hover\:rotate-y-180:hover {
  transform: rotateY(180deg);
}

body.modal-open {
  overflow: auto !important;
  padding-right: 0 !important;
}

.modal-backdrop {
  background-color: transparent !important;
}